In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [37]:
company = soup.find_all('div',class_='company-content-wrapper')
name = []
rating = []
reviews = []
ctype = []
hq = []
old = []
employees = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_='rating').text.strip())
    reviews.append(i.find('a',class_='review-count').text.strip())
    ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    
d = {'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'age':old,'employees':employees}

IndexError: list index out of range

In [30]:
reviews

['16k Reviews',
 '13.9k Reviews',
 '12.6k Reviews',
 '12k Reviews',
 '10.8k Reviews',
 '10.7k Reviews',
 '10.1k Reviews',
 '9.5k Reviews',
 '9k Reviews',
 '8.6k Reviews',
 '8.2k Reviews',
 '8.1k Reviews',
 '7.8k Reviews',
 '7.6k Reviews',
 '7.5k Reviews',
 '6.4k Reviews',
 '6.1k Reviews',
 '5.9k Reviews',
 '5.4k Reviews',
 '5.4k Reviews',
 '5.1k Reviews',
 '4.8k Reviews',
 '4.5k Reviews',
 '4.1k Reviews',
 '3.7k Reviews',
 '3.7k Reviews',
 '3.5k Reviews',
 '3.4k Reviews',
 '3.2k Reviews',
 '3.1k Reviews']

In [6]:
final = pd.DataFrame()

for j in range(1,11):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url,headers=headers).text
    soup = bs(webpage,'lxml')
    company = soup.find_all('div',class_='company-content-wrapper')
    name = []
    rating = []
    reviews = []
    ctype = []
    hq = []
    old = []
    employees = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p',class_='rating').text.strip())
        reviews.append(i.find('a',class_='review-count').text.strip())
        ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        try:
            employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
            employees.append('NaN')
    
    d = {'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'age':old,'employees':employees}
    df = pd.DataFrame(d)
    
    final = final.append(df,ignore_index=True)

In [7]:
final

,name,rating,reviews,type,hq,age,employees
0,TCS,3.9,16k Reviews,Public,Mumbai + 43 more,52 years old,10000+ employees
1,Accenture,4.0,13.9k Reviews,Private,Dublin + 40 more,31 years old,10000+ employees
2,ICICI Bank,4.1,12.6k Reviews,Public,Mumbai + 42 more,26 years old,10000+ employees
3,Cognizant,3.9,12k Reviews,Private,Teaneck + 39 more,26 years old,10000+ employees
4,HDFC Bank,4.0,10.8k Reviews,Public,Mumbai + 46 more,26 years old,10000+ employees
...,...,...,...,...,...,...,...
295,GlobalLogic,3.7,701 Reviews,Private,San Jose + 14 more,20 years old,10000+ employees
296,Emami,3.9,701 Reviews,Public,Kolkata + 45 more,46 years old,10000+ employees
297,Nayara Energy,4.2,700 Reviews,Mumbai + 46 more,31 years old,10000+ employees,NaN
298,IDBI Bank,4.0,699 Reviews,Public,Mumbai + 44 more,56 years old,10000+ employees
299,Indus Towers,4.1,697 Reviews,Private,Gurgaon + 49 more,13 years old,10000+ employees